.animation-preview {
  position: relative;
  width: 100%;
  height: 100%;
}

#dummy {
  position: absolute;
  display: block;
  width: 16em;
  height: 16em;
  border: 3.2px solid transparent;
  border-radius: 1.6em;
  background: var(--color-violet);
  transform-origin: center;
  transition: 0.4s ease;
}

.animation-preview-nav {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: space-between;
  width: 100%;
  font-size: 1.6em;
  height: 2em;
}

.send-button {
  width: 1.6em;
  height: 1.6em;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.2s ease;
}
.send-button:hover {
  color: var(--color-purple);
}

.animation-preview-button {
  position: relative;
  font-weight: 700;
  height: 1.8em;
  color: #fff;
  background-color: var(--color-purple);
}

.animation-preview-menu-editors {
  position: absolute;
  top: 4em;
  right: 0;
  display: block;
  width: 32em;
  height: max-content;
  padding: 1.6em;
  background: var(--color-bg);
  box-shadow: 0 0.4em 0.6em var(--color-purple-transparent);
  border-radius: 0.8em;
  z-index: 10;
}

.animation-preview-menu-editor-text {
  width: 100%;
  padding-left: 1.6em;
  height: 20em;
  border: none;
  outline: none;
  background: none;
  resize: none;
  color: var(--font-color);
  font-size: 1.4em;
  font-family: var(--font-main);
  font-weight: 700;
}
