.props-css-list {
  display: grid;
  grid-template-rows: max-content auto;
  padding: 3.2em;
  width: 36em;
  height: 48vh;
}

.props-css-list-container {
  display: block;
  height: 100%;
  overflow-y: scroll;
}

.props-css-list-current {
  width: 100%;
  padding: 0.6em 0;
  font-weight: 500;
}

.props-css-list-all > li {
  width: 100%;
  border-radius: 0.8em;
  user-select: none;
  font-weight: 600;
}
.props-css-list-all-prop {
  padding: 0.4em 0;
  cursor: pointer;
  justify-content: start;
  transition: 0.2s ease;
}
.props-css-list-all-prop:hover {
  color: var(--color-purple);
}
