:root {
  --timing-editor-height: 46em;
}

.timing-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: var(--prop-timing-width);
  height: var(--timing-editor-height);
  box-shadow: var(--shadow);
  border-radius: 1.6em;
  padding: 1.6em;
  overflow: hidden;
}

.timing-editor-curve {
  height: 100%;
  margin: 1.6em 0;
  overflow: hidden;
}
.timing-editor-curve > svg {
  overflow: visible;
  width: 20em;
  height: 20em;
}

.timing-editor-coords-point-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.32em;
  font-weight: 700;
  border-radius: 0.4em;
  box-shadow: var(--hollow-shadow);
}

.timing-editor-frame {
  width: 2.25em;
  height: 3.6em;
  color: var(--color-purple);
  font-weight: 700;
  border-radius: 0.4em;
  box-shadow: var(--shadow);
}
