@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
:root {
  /* FONT */
  --font-main: "Nunito Sans", sans-serif;
  --font-color: #221655;

  /* COLORS */
  --color-bg: #f4f0ff;
  --color-purple: #420dff;
  --color-purple-transparent: #410dff2d;
  --color-violet: #a60dff;
  --gradient: linear-gradient(135deg, var(--color-lightblue), #fff);

  --shadow: 0.24em 0.24em 0.48em var(--color-purple-transparent),
    -0.24em -0.24em 0.48em #fff;
  --hollow-shadow: inset 0.1em 0.1em 0.18em var(--color-purple-transparent),
    inset -0.1em -0.1em 0.18em #fff;

  /* SECTIONS */
  --prop-timing-width: 36em;
}

/* GLOBAL TAGS STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #dbd7e6 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  box-shadow: var(--main-hollow-shadow);
  border-radius: 4px;
  overflow: hidden;
}
*::-webkit-scrollbar-thumb {
  background-color: #dbd7e6;
  border-radius: 0.4em;
}

body {
  display: block;
  font: 500 10px var(--font-main);
  color: var(--font-color);
  width: 100%;
  height: 100vh;
  background: var(--color-bg);
}

input,
button {
  font: inherit;
  color: inherit;
  background: none;
  outline: none;
  border: none;
  border-radius: 0.32em;
  padding: 0 0.32em;
}
/* remove arrow on input number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  font-weight: 700;
  text-align: right;
  width: 3.2em;
}
input[type="color"]::-moz-color-swatch {
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input::placeholder {
  color: var(--font-color);
  opacity: 0.4;
}

ul {
  list-style: none;
}

/* GLOBAL CUSTOM CLASSES */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.app {
  width: 100vw;
  height: 100vh;
}

.app-button {
  font-size: 1.6em;
  cursor: pointer;
  transition: 0.2s ease;
}
.app-button:hover {
  color: var(--color-purple);
}
.app-button-pressed {
  font-size: 1.6em;
  cursor: pointer;
  color: #fff;
}

/* spacing elements */
.space-small-row + .space-small-row {
  margin-left: 0.2em;
}
.space-small-col + .space-small-col {
  margin-top: 0.2em;
}

.space-mid-row + .space-mid-row {
  margin-left: 0.4em;
}
.space-mid-col + .space-mid-col {
  margin-top: 0.4em;
}

.space-big-row + .space-big-row {
  margin-left: 0.8em;
}
.space-big-col + .space-big-col {
  margin-top: 0.8em;
}

.space-big-double-row + .space-big-double-row {
  margin-left: 1.6em;
}
.space-big-double-col + .space-big-double-col {
  margin-top: 1.6em;
}

/* input range and checkbox */
.slider {
  -webkit-appearance: none;
  width: 4.4em;
  height: 1.6em;
  padding: 0;
  border-radius: 0;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.32em;
  height: 1.85em;
  border: none;
  border-radius: 0.125em;
  background: #fff;
  box-shadow: 0 0 0.125em var(--color-purple);
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 0.32em;
  height: 1.85em;
  border: none;
  border-radius: 0.125em;
  background: #fff;
  box-shadow: 0 0 0.125em var(--color-purple);
  cursor: pointer;
}

.checkbox {
  position: relative;
  width: 2em;
  height: 1em;
  padding: 0;
  margin: 0;
  appearance: none;
  background: var(--color-purple-transparent);
  border-radius: 0.5em;
  cursor: pointer;
  transition: 0.2s ease;
}
.checkbox:checked {
  background: var(--color-purple);
}
.checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #fff;
  box-shadow: 0 0 0.2em var(--color-purple-transparent);
  transition: 0.2s ease;
}
.checkbox:checked:before {
  left: 1em;
}

/*****************/
/* MEDIA QUERIES */
/*****************/
@media screen and (max-width: 1600px) {
  body {
    font-size: 8px;
  }
}
@media screen and (max-height: 720px) {
  body {
    font-size: 8px;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 6px;
  }
}
@media screen and (max-height: 578px) {
  body {
    font-size: 6px;
  }
}
